a {
    color: black;
    text-decoration: none;
    text-align: left;
}

h4 {
    text-align: center;
}

p {
    text-align: center;
}

h4:hover {
    color: #2206f0;
}

h4:link {
    color: #265301;
}